<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="<%= cfgDescription %>">

		<title><%= cfgName %></title>

		<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

		<link rel="stylesheet/less" type="text/css" href="assets/less/app.less" />

		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/es6-shim/es6-shim.js"></script>
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

		<script src="bower_components/less/dist/less.js"></script>
	</head>
	<body ng-app="<%= appCamel %>">
		<div class="container">
			<topnav></topnav>
			<div ui-view></div>
		</div>

		<script src="app/app.module.js"></script>

		<script src="app/components/topnav/topnavController.js"></script>
		<script src="app/components/home/homeController.js"></script>
	</body>
</html>
