html, body {
	padding: 0;
}

.dev-ribbon {
	width: 200px;
	background: #e82;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.social-button a {
	margin: 2px;
}

.log,
.audit {
	.dropdown-menu {
		li {
			min-width: 200px;
			margin: 0 10px;
		}
	}
}

pre.modal-body {
	margin-bottom: 0;
}
