<div class="well forgot">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title" translate="forgot.title">Reset Password</div>
				</div>
				<div class="panel-body">
					<div class="col-md-12" ng-hide="token">
						<div class="alert alert-info" ng-hide="sent" translate="forgot.msg.enterEmail">
							Enter the email address you used to register.
						</div>
						<div class="alert alert-success" ng-show="sent" translate="forgot.msg.checkEmail">
							Check your email for details on how to reset your password.
						</div>
						<form novalidate ng-hide="sent" class="form-horizontial" name="emailForm" role="form" ng-submit="reset ($event)">
							<div class="form-group" ng-class="{ 'has-error': emailForm.email.$dirty && emailForm.email.$invalid }">
								<label for="email" translate="forgot.field.email" class="sr-only">Email</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="email" autofocus ng-model="email" value="" placeholder="{{ 'forgot.field.email' | translate }}" />
								</div>
								<div ng-show="emailForm.email.$dirty && emailForm.email.$invalid">
									<p class="help-block" ng-show="emailForm.email.$error.required" translate="forgot.msg.validate.email.required">Email address is required.</p>
									<p class="help-block" ng-show="emailForm.email.$error.email" translate="forgot.msg.validate.email.email">Invalid email address.</p>
								</div>
							</div>
							<div class="form-group text-right">
								<button type="submit" ng-disabled="emailForm.$invalid" class="btn btn-primary" translate="forgot.btn.reset">Reset Password</button>
							</div>
						</form>
					</div>
					<div class="col-md-12" ng-show="token">
						<div class="alert alert-info" ng-hide="sent" translate="forgot.msg.enterPassword">
							Enter your new password.
						</div>
						<div class="alert alert-danger" ng-show="resetError">
							<strong translate="forgot.msg.error.reset">Failed to reset password!</strong>
						</div>
						<form novalidate ng-hide="sent" class="form-horizontial" name="passwordForm" role="form" ng-submit="reset ($event)">
							<div class="form-group" ng-class="{ 'has-error': passwordForm.password.$dirty && passwordForm.password.$invalid }">
								<label for="password" translate="forgot.field.password" class="sr-only">Password</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" <%= appSlug %>-password-valid ng-model="password" ng-model-options="{ allowInvalid: true }" placeholder="{{ 'forgot.field.password' | translate }}" />
								</div>
								<<%= appSlug %>-password-strength password="password" />
								<div ng-show="passwordForm.password.$dirty && passwordForm.password.$invalid">
									<p class="help-block" ng-show="passwordForm.password.$error.required" translate="forgot.msg.validate.password.required">Password is required.</p>
									<p class="help-block" ng-show="passwordForm.password.$error.<%= appCamel %>PasswordValid" translate="forgot.msg.validate.password.pattern">Password must at least 8 characters and contain at least one each uppercase, lowercase, numeric, and symbol character.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid }">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
									<input type="password" class="form-control" <%= appSlug %>-match="password" name="confirmPassword" ng-model="confirmPassword" required placeholder="{{ 'forgot.field.confirmPassword' | translate }}" />
								</div>
								<div ng-show="passwordForm.confirmPassword.$dirty && passwordForm.confirmPassword.$invalid">
									<p class="help-block" ng-show="passwordForm.confirmPassword.$error.required" translate="forgot.msg.validate.confirmPassword.required">Confirmation password is required.</p>
									<p class="help-block" ng-show="passwordForm.confirmPassword.$error.match" translate="forgot.msg.validate.confirmPassword.match">Passwords do not match.</p>
								</div>
							</div>
							<div class="form-group text-right">
								<button type="submit" ng-disabled="passwordForm.$invalid" class="btn btn-primary" translate="forgot.btn.reset">Reset Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
