<div class="well log">
	<h1 translate="log.title">Logs</h1>
	<form novalidate name="form" role="form">
		<div class="row">
			<div class="form-group col-md-4">
				<div class="input-group">
					<span class="input-group-btn" uib-dropdown is-open="isOpen" auto-close="disabled">>
						<button type="button" class="btn btn-default" uib-dropdown-toggle><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
						<ul uib-dropdown-menu>
							<li>
							<div class="form-group" ng-class="{ 'has-error': form.from.$dirty && form.from.$invalid }">
								<label for="from" translate="log.field.from">To</label>
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="fromOpen = true"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
									</span>
									<input type="text" name="from" class="form-control" datetime-picker="short" ng-model="filter.from" ng-model-options="{ alloInvalid: true }" max-date="filter.to" is-open="fromOpen" required />
								</div>
							</div>
							</li>
							<li>
							<div class="form-group" ng-class="{ 'has-error': form.to.$dirty && form.to.$invalid }">
								<label for="to" translate="log.field.to">To</label>
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="toOpen = true"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
									</span>
									<input type="text" name="to" class="form-control" datetime-picker="short" ng-model="filter.to" ng-model-options="{ alloInvalid: true }" min-date="filter.from" is-open="toOpen" required />
								</div>
							</div>
							</li>
						</ul>
					</span>
					<label for="dates" translate="log.field.date" class="sr-only">Event</label>
					<input type="text" name="dates" class="form-control" placeholder="{{ 'log.field.dates' | translate }}" ng-model="filter.dates" readonly />
				</div>
			</div>
			<div class="form-group col-md-3">
				<label for="event" translate="log.field.event" class="sr-only">Event</label>
				<ui-select name="event" ng-model="filter.event" theme="bootstrap" search-enabled="false" title="{{ 'log.field.event' | translate }}">
					<ui-select-match allow-clear placeholder="{{ 'log.field.event' | translate }}">{{ $select.selected | translate }}</ui-select-match>
					<ui-select-choices repeat="event in events">{{ event | translate }}</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-5 text-right">
				<button class="btn btn-primary" ng-click="view ()" ng-disabled="form.$invalid || false === logData.$resolved" translate="log.btn.view">View</button>
			</div>
		</div>
	</form>
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th ng-click="sort ('event')"><span translate="log.header.event">Event</span> <i class="glyphicon glyphicon-sort" aria-hidden="true"></i></th>
				<th ng-click="sort ('timestamp')"><span translate="log.header.timestamp">Timestamp</span> <i class="glyphicon glyphicon-sort" aria-hidden="true"></i></th>
				<th ng-click="sort ('host')"><span translate="log.header.host">Host</span> <i class="glyphicon glyphicon-sort" aria-hidden="true"></i></th>
				<th translate="log.header.data">Data</th>
				<th translate="log.header.raw">Raw</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="log in logData" ng-class="{ danger: 'log' === log.event && -1 !== log.tags.indexOf ('error') }" ng-switch on="log.event">
				<td>{{ log.event }}</td>
				<td>{{ log.timestamp | date: 'short' }}</td>
				<td ng-if="'response' !== log.event">{{ log.host }}</td>
				<td ng-if="'response' === log.event">{{ log.instance }}</td>
				<td ng-switch-when="log">
					<div translate="log.data.tags">Tags</div>
					<ul class="list-inline">
						<li ng-repeat="tag in log.tags">{{ tag }}</li>
					</ul>
					<div translate="log.data.data">Data</div>
					<pre>{{ log.data | json }}</pre>
				</td>
				<td ng-switch-when="ops">
					<div><strong translate="log.data.os">OS</strong></div>
					<ul class="list-unstyled">
						<li><span translate="log.data.load">Load</span>: {{ log.os.load | number: 2 }}</li>
						<li><span translate="log.data.totalMem">Total Memory</span>: {{ log.os.mem.total | memory }}</li>
						<li><span translate="log.data.freeMem">Free Memory</span>: {{ log.os.mem.free | memory }}</li>
						<li><span translate="log.data.uptime">Uptime</span>: {{ log.os.uptime | uptime:'seconds' }}</li>
					</ul>
					<div><strong translate="log.data.proc">Proc</strong></div>
					<ul class="list-unstyled">
						<li><span translate="log.data.uptime">Uptime</span>: {{ log.proc.uptime | number: 2 }}</li>
						<li><span translate="log.data.rssMem">RSS Memory</span>: {{ log.proc.mem.rss | memory }}</li>
						<li><span translate="log.data.heapTotalMemory">Total Heap Memory</span>: {{ log.proc.mem.heapTotal | memory }}</li>
						<li><span translate="log.data.heapUsedMemory">Used Heap Memory</span>: {{ log.proc.mem.heapUsed | memory }}</li>
						<li><span translate="log.data.delay">Delay</span>: {{ log.proc.delay | number: 2 }}</li>
					</ul>
					<div><strong translate="log.data.load">Load</strong></div>
					<div ng-repeat-start="(port, data) in log.load.requests" >&nbsp;&nbsp;<strong translate="log.data.requests">Requests</strong> ({{ port }})</div>
					<ul class="list-unstyled" ng-repeat-end>
						<li>&nbsp;&nbsp;<span translate="log.data.total">Total</span>: {{ data.total }}</li>
						<li>&nbsp;&nbsp;<span translate="log.data.disconnects">Disconnects</span>: {{ data.disconnects }}</li>
						<li ng-repeat="(code, value) in data.statusCode">&nbsp;&nbsp;<span translate="log.data.statusCode">Status Code</span> {{ code }}: {{ value }}</li>
					</ul>
					<div>&nbsp;&nbsp;<strong translate="log.data.concurrents">Concurrents</strong></div>
					<ul class="list-unstyled">
						<li ng-repeat="(port, value) in log.data.load.concurrents">&nbsp;&nbsp;{{ port }}: {{ value }}</li>
					</ul>
					<div ng-repeat-start="(port, data) in log.load.responseTimes" >&nbsp;&nbsp;<strong translate="log.data.responseTimes">Response Times</strong> ({{ port }})</div>
					<ul class="list-unstyled" ng-repeat-end>
						<li>&nbsp;&nbsp;<span translate="log.data.avg">Average</span>: {{ data.avg | number: 2 }}</li>
						<li>&nbsp;&nbsp;<span translate="log.data.max">Max</span>: {{ data.max }}</li>
					</ul>
					<div>&nbsp;&nbsp;<strong translate="log.data.sockets">Sockets</strong></div>
					<ul class="list-unstyled">
						<li ng-repeat="(port, data) in log.load.sockets">&nbsp;&nbsp;{{ port }}: {{ data.total }}</li>
					</ul>
				</td>
				<td ng-switch-when="response">
					<div translate="log.data.labels">Labels</div>
					<ul class="list-inline">
						<li ng-repeat="tag in log.labels">{{ tag }}</li>
					</ul>
					<div><span translate="log.data.path">Path</span>: {{ log.path }}</div>
					<div><span translate="log.data.method">Method</span>: {{ log.method | uppercase }}</div>
					<div translate="log.data.query">Query</div>
					<ul class="list-inline">
						<li ng-repeat="(key, value) in log.query">{{ key }}: {{ value }}</li>
					</ul>
					<div><span translate="log.data.responseTime">Response Time</span>: {{ log.responseTime }}ms</div>
					<div><span translate="log.data.statusCode">Status Code</span>: {{ log.statusCode }}</div>
					<div><span translate="log.data.httpVersion">HTTP Version</span>: {{ log.httpVersion }}</div>
					<div><span translate="log.data.remoteAddress">Remote Address</span>: {{ log.source.remoteAddress}}</div>
					<div><span translate="log.data.userAgent">User Agent</span>: {{ log.source.userAgent}}</div>
					<div><span translate="log.data.referer">Referer</span>: {{ log.source.referer }}</div>
				</td>
				<td ng-switch-when="request">
					<div translate="log.data.tags">Tags</div>
					<ul class="list-inline">
						<li ng-repeat="tag in log.tags">{{ tag }}</li>
					</ul>
					<div><span translate="log.data.method">Method</span>: {{ log.method | uppercase }}</div>
					<div><span translate="log.data.path">Path</span>: {{ log.path }}</div>
					<div translate="log.data.data">Data</div>
					<pre>{{ log.data | json }}</pre>
				<td>
					<button ng-click="raw ($index)" type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-6">
			<uib-pagination total-items="total" boundry-link-numbers="true" first-text="{{ 'global.pager.first' | translate }}" last-text="{{ 'global.pager.last' | translate }}" next-text="{{ 'global.pager.next' | translate }}" previous-text="{{ 'global.pager.previous' | translate }}" items-per-page="limit" ng-model="currentPage" ng-change="view ()"></uib-pagination>
		</div>
		<div class="col-md-6 text-right">
			<button class="btn btn-primary" ng-click="export ()" ng-disabled="!logData.$resolved" translate="log.btn.export">Export</button>
		</div>
	</div>
</div>
