<div class="well audit">
	<h1 translate="audit.title">Logs</h1>
	<form novalidate name="form" role="form">
		<div class="row">
			<div class="form-group col-md-4">
				<div class="input-group">
					<span class="input-group-btn" uib-dropdown is-open="isOpen" auto-close="disabled">>
						<button type="button" class="btn btn-default" uib-dropdown-toggle><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
						<ul uib-dropdown-menu>
							<li>
							<div class="form-group" ng-class="{ 'has-error': form.from.$dirty && form.from.$invalid }">
								<label for="from" translate="audit.field.from">To</label>
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="fromOpen = true"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
									</span>
									<input type="text" name="from" class="form-control" datetime-picker="short" ng-model="filter.from" ng-model-options="{ alloInvalid: true }" max-date="filter.to" is-open="fromOpen" required />
								</div>
							</div>
							</li>
							<li>
							<div class="form-group" ng-class="{ 'has-error': form.to.$dirty && form.to.$invalid }">
								<label for="to" translate="audit.field.to">To</label>
								<div class="input-group">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="toOpen = true"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></button>
									</span>
									<input type="text" name="to" class="form-control" datetime-picker="short" ng-model="filter.to" ng-model-options="{ alloInvalid: true }" min-date="filter.from" is-open="toOpen" required />
								</div>
							</div>
							</li>
						</ul>
					</span>
					<label for="dates" translate="audit.field.dates" class="sr-only">Dates</label>
					<input type="text" name="dates" class="form-control" placeholder="{{ 'audit.field.dates' | translate }}" ng-model="filter.dates" readonly />
				</div>
			</div>
			<div class="form-group col-md-3">
				<label for="event" translate="audit.field.event" class="sr-only">Event</label>
				<ui-select name="event" ng-model="filter.event" theme="bootstrap" search-enabled="false" title="{{ 'audit.field.event' | translate }}">
					<ui-select-match allow-clear placeholder="{{ 'audit.field.event' | translate }}">{{ $select.selected | translate }}</ui-select-match>
					<ui-select-choices repeat="event in events">{{ event | translate }}</ui-select-choices>
				</ui-select>
			</div>
			<div class="form-group col-md-3">
				<label for="username" translate="audit.field.username" class="sr-only">Username</label>
				<input type="search" name="username" class="form-control" ng-model="filter.username" placeholder="{{ 'audit.field.username' | translate }}" />
			</div>
			<div class="col-md-2 text-right">
				<button class="btn btn-primary" ng-click="view ()" ng-disabled="form.$invalid || false === auditData.$resolved" translate="audit.btn.view">View</button>
			</div>
		</div>
	</form>
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th ng-click="sort ('event')"><span translate="audit.header.event">Event</span> <i class="glyphicon glyphicon-sort" aria-hidden="true"></i></th>
				<th ng-click="sort ('timestamp')"><span translate="audit.header.timestamp">Timestamp</span> <i class="glyphicon glyphicon-sort" aria-hidden="true"></i></th>
				<th ng-click="sort ('user')"><span translate="audit.header.user">User</span> <i class="glyphicon glyphicon-sort" aria-hidden="true"></i></th>
				<th ng-click="sort ('status')"><span translate="audit.header.status">Status</span> <i class="glyphicon glyphicon-sort" aria-hidden="true"></i></th>
				<th ng-click="sort ('resource')"><span translate="audit.header.resource">Status</span> <i class="glyphicon glyphicon-sort" aria-hidden="true"></i></th>
				<th translate="audit.header.data">Data</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="audit in auditData" ng-class="{ danger: 'audit' === audit.event && -1 !== audit.tags.indexOf ('error') }" ng-switch on="audit.event">
				<td>{{ audit.event }}</td>
				<td>{{ audit.timestamp | date: 'short' }}</td>
				<td>{{ audit.user.username }} ({{ audit.user.id }})</td>
				<td>{{ audit.status }}</td>
				<td>{{ audit.resource }}</td>
				<td><pre>{{ audit.data | json }}</pre></td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-6">
			<uib-pagination total-items="total" boundry-link-numbers="true" first-text="{{ 'global.pager.first' | translate }}" last-text="{{ 'global.pager.last' | translate }}" next-text="{{ 'global.pager.next' | translate }}" previous-text="{{ 'global.pager.previous' | translate }}" items-per-page="limit" ng-model="currentPage" ng-change="view ()"></uib-pagination>
		</div>
		<div class="col-md-6 text-right">
			<button class="btn btn-primary" ng-click="export ()" ng-disabled="!auditData.$resolved" translate="audit.btn.export">Export</button>
		</div>
	</div>
</div>
