<div class="well register">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title" translate="register.title">Sign In</div>
				</div>
				<div class="panel-body">
					<div>
						<div class="alert alert-danger" ng-show="registrationError" translate="register.msg.error.failed">
							Registration failed!
						</div>
						<form novalidate class="form-horizontial" name="form" role="form" ng-submit="register ($event)">
							<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$invalid }">
								<input type="text" class="form-control" name="username" <%= appSlug %>-username autofocus ng-model="username" value="" required placeholder="{{ 'register.field.username' | translate }}">
								<div ng-show="form.username.$dirty && form.username.$invalid">
									<p class="help-block" ng-show="form.username.$error.required" translate="register.msg.validate.username.required">Username is required.</p>
									<p class="help-block" ng-show="form.username.$pending.taken" translate="register.msg.validate.username.pending">Checking username...</p>
									<p class="help-block" ng-show="form.username.$error.taken" translate="register.msg.validate.username.taken">Username is already in use.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$invalid }">
								<input type="text" class="form-control" name="fullName" ng-model="fullName" value="" required placeholder="{{ 'register.field.fullName' | translate }}">
								<div ng-show="form.fullName.$dirty && form.fullName.$invalid">
									<p class="help-block" ng-show="form.fullName.$error.required" translate="register.msg.validate.fullName.required">Name is required.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.nickname.$dirty && form.nickname.$invalid }">
								<input type="text" class="form-control" name="nickname" ng-model="nickname" value="" required placeholder="{{ 'register.field.nickname' | translate }}">
								<div ng-show="form.nickname.$dirty && form.nickname.$invalid">
									<p class="help-block" ng-show="form.nickname.$error.required" translate="register.msg.validate.nickname.required">Nickname is required.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$invalid }">
								<input type="email" class="form-control" name="email" <%= appSlug %>-email ng-model="email" value="" required placeholder="{{ 'register.field.email' | translate }}">
								<div ng-show="form.email.$dirty && form.email.$invalid">
									<p class="help-block" ng-show="form.email.$error.required" translate="register.msg.validate.email.required">Email address is required.</p>
									<p class="help-block" ng-show="form.email.$error.email" translate="register.msg.validate.email.email">Email address is invalid.</p>
									<p class="help-block" ng-show="form.email.$pending.taken" translate="register.msg.validate.email.pending">Checking email address...</p>
									<p class="help-block" ng-show="form.email.$error.taken" translate="register.msg.validate.email.taken">Email address is already in use.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$invalid }">
								<input type="password" class="form-control" name="password" <%= appSlug %>-password-valid ng-model="password" ng-model-options="{ allowInvalid: true }" required placeholder="{{ 'register.field.password' | translate }}">
								<<%= appSlug %>-password-strength password="password" />
								<div ng-show="form.password.$dirty && form.password.$invalid">
									<p class="help-block" ng-show="form.password.$error.required" translate="register.msg.validate.password.required">Password is required.</p>
									<p class="help-block" ng-show="form.password.$error.<%= appCamel %>PasswordValid" translate="register.msg.validate.password.pattern">Password must at least 8 characters and contain at least one each uppercase, lowercase, numeric, and symbol character.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$invalid }">
								<input type="password" class="form-control" <%= appSlug %>-match="password" name="confirmPassword" ng-model="confirmPassword" required placeholder="{{ 'register.field.confirmPassword' | translate }}">
								<div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
									<p class="help-block" ng-show="form.confirmPassword.$error.required" translate="register.msg.validate.confirmPassword.required">Confirmation password is required.</p>
									<p class="help-block" ng-show="form.confirmPassword.$error.match" translate="register.msg.validate.confirmPassword.match">Passwords do not match.</p>
								</div>
							</div>
							<div class="form-group text-right">
								<button type="submit" ng-disabled="form.$invalid || disable" class="btn btn-primary" translate="register.btn.register">Register</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
