<div class="well metrics">
	<h1 translate="metrics.title">Logs</h1>
	<div class="row">
		<div class="col-md-12 text-right">
			<button class="btn btn-primary" ng-click="refresh ()" ng-disabled="form.$invalid || false === metricsData.$resolved" translate="metrics.btn.refresh">Refresh</button>
		</div>
	</div>
	<h3 translate="metrics.os.title">Operating System</h3>
	<div class="row" ng-show="metricsData.$resolved">
		<div class="col-md-4">
			<b translate="metrics.os.info.title">Information</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.os.info.arch">Architecture</div>
				<div class="col-md-6 text-right">{{ metricsData.os.arch }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.os.info.hostname">Hostname</div>
				<div class="col-md-6 text-right">{{ metricsData.os.hostname }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.os.info.platform">Architecture</div>
				<div class="col-md-6 text-right">{{ metricsData.os.platform }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.os.info.release">Architecture</div>
				<div class="col-md-6 text-right">{{ metricsData.os.release }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.os.info.uptime">Uptime</div>
				<div class="col-md-6 text-right">{{ metricsData.os.uptime | uptime: 'seconds' }}</div> 
			</div>
			<br />
			<b translate="metrics.os.memory.title">Memory</b>
			<p><span translate="metrics.os.memory.total">Total</span> ({{ (metricsData.os.memory.total - metricsData.os.memory.free) | memory }} / {{ metricsData.os.memory.total | memory }})</p>
			<uib-progressbar min="0" max="metricsData.os.memory.total" value="metricsData.os.memory.total - metricsData.os.memory.free" class="progress-striped active" type="success">
				<span>{{ 100 * (metricsData.os.memory.total - metricsData.os.memory.free) / metricsData.os.memory.total | number: 0 }}%</span>
			</uib-progressbar>
			<br />
			<b translate="metrics.os.memory.load">Load</b>
			<div class="row">
				<div class="col-md-2">1</div> 
				<div class="col-md-10 text-right">{{ metricsData.os.load ['1'] | number: 2 }}</div>
			</div>
			<div class="row">
				<div class="col-md-2">5</div> 
				<div class="col-md-10 text-right">{{ metricsData.os.load ['5'] | number: 2 }}</div>
			</div>
			<div class="row">
				<div class="col-md-2">15</div> 
				<div class="col-md-10 text-right">{{ metricsData.os.load ['15'] | number: 2 }}</div>
			</div>
		</div>
		<div class="col-md-4">
			<b translate="metrics.os.cpus.title">CPUS</b>
			<uib-accordion>
				<uib-accordion-group ng-repeat="cpu in metricsData.os.cpus" is-open="$first">
				<uib-accordion-heading><span translate="metrics.os.cpus.cpu">CPU</span> {{ $index + 1 }}</uib-accordion-heading>
					<div class="row">
						<div class="col-md-12">{{ cpu.model }}</div>
					</div>
					<div class="row">
						<div class="col-md-6" translate="metrics.os.cpus.speed">Speed</div> 
						<div class="col-md-6 text-right">{{ cpu.speed }} MHz</div>
					</div>
					<b translate="metrics.os.cpus.times">Times</b>
					<div class="row">
						<div class="col-md-4" translate="metrics.os.cpus.user">User</div> 
						<div class="col-md-8 text-right">{{ cpu.times.user | uptime }}</div>
					</div>
					<div class="row">
						<div class="col-md-4" translate="metrics.os.cpus.nice">Nice</div> 
						<div class="col-md-8 text-right">{{ cpu.times.nice| uptime }}</div>
					</div>
					<div class="row">
						<div class="col-md-4" translate="metrics.os.cpus.sys">System</div> 
						<div class="col-md-8 text-right">{{ cpu.times.sys | uptime }}</div>
					</div>
					<div class="row">
						<div class="col-md-4" translate="metrics.os.cpus.idle">Idle</div> 
						<div class="col-md-8 text-right">{{ cpu.times.idle | uptime }}</div>
					</div>
					<div class="row">
						<div class="col-md-4" translate="metrics.os.cpus.irq">Irq</div> 
						<div class="col-md-8 text-right">{{ cpu.times.irq | uptime }}</div>
					</div>
				</uib-accordion-group>
			</uib-accordion>
		</div>
		<div class="col-md-4">
			<b translate="metrics.os.networkInterfaces.title">CPUS</b>
			<uib-accordion>
				<uib-accordion-group ng-repeat="interface in metricsData.os.networkInterfaces" is-open="$first">
				<uib-accordion-heading>{{ interface.name }}</uib-accordion-heading>
					<div ng-repeat="address in interface.addresses">
						<div class="row">
							<div class="col-md-2" translate="metrics.os.networkInterfaces.address">Address</div> 
							<div class="col-md-10 text-right">{{ address.address }}</div>
						</div>
						<div class="row">
							<div class="col-md-3" translate="metrics.os.networkInterfaces.netmask">netmask</div> 
							<div class="col-md-9 text-right">{{ address.netmask }}</div>
						</div>
						<div class="row">
							<div class="col-md-3" translate="metrics.os.networkInterfaces.family">Family</div> 
							<div class="col-md-9 text-right">{{ address.family }}</div>
						</div>
						<div class="row">
							<div class="col-md-3" translate="metrics.os.networkInterfaces.mac">MAC</div> 
							<div class="col-md-9 text-right">{{ address.mac }}</div>
						</div>
						<div class="row">
							<div class="col-md-4" translate="metrics.os.networkInterfaces.scopeid">Scope Id</div> 
							<div class="col-md-8 text-right">{{ address.scopeId}}</div>
						</div>
						<div class="row">
							<div class="col-md-3" translate="metrics.os.networkInterfaces.internal">Internal</div> 
							<div class="col-md-9 text-right">{{ address.internal }}</div>
						</div>
						<br ng-hide="$last" />
					</div>
				</uib-accordion-group>
			</uib-accordion>
		</div>
	</div>
	<h3 translate="metrics.process.title">Process</h3>
	<div class="row" ng-show="metricsData.$resolved">
		<div class="col-md-4">
			<b translate="metrics.process.info.title">Information</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.process.info.pid">PID</div>
				<div class="col-md-6 text-right">{{ metricsData.process.pid }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.process.info.uptime">Uptime</div>
				<div class="col-md-6 text-right">{{ metricsData.process.uptime | uptime: 'seconds' }}</div> 
			</div>
			<br />
			<b translate="metrics.process.memory.title">Memory</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.process.memory.rss">RSS</div>
				<div class="col-md-6 text-right">{{ metricsData.process.memory.rss | memory }}</div> 
			</div>
			<p><span translate="metrics.process.memory.heap">Total</span> ({{ metricsData.process.memory.heapUsed | memory }} / {{ metricsData.process.memory.heapTotal | memory }})</p>
			<uib-progressbar min="0" max="metricsData.process.memory.heapTotal" value="metricsData.process.memory.heapUsed" class="progress-striped active" type="success">
				<span>{{ 100 * metricsData.process.memory.heapUsed / metricsData.process.memory.heapTotal | number: 0 }}%</span>
			</uib-progressbar>
		</div>
		<div class="col-md-4">
			<b translate="metrics.process.env.title">Environment Variables</b>
			<div class="row">
				<div class="scroll">
					<div ng-repeat="(key, value) in metricsData.process.env">
						<div class="col-md-12">{{ key }}</div>
						<div class="col-md-12">{{ value }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<b translate="metrics.process.versions.title">Versions</b>
			<div class="row">
				<div class="scroll">
					<div ng-repeat="(key, value) in metricsData.process.versions">
						<div class="col-md-6">{{ key }}</div>
						<div class="col-md-6 text-right">{{ value }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h3 translate="metrics.server.title">Server</h3>
	<div class="row" ng-show="metricsData.$resolved">
		<div class="col-md-4">
			<b translate="metrics.server.info.title">Information</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.server.info.version">Version</div>
				<div class="col-md-6 text-right">{{ metricsData.server.version }}</div>
			</div>
		</div>
		<div class="col-md-8">
			<b translate="metrics.server.connections.title">Connections</b>
			<div ng-repeat="connection in metricsData.server.connections">
				<div class="row">
					<div class="col-md-6" translate="metrics.server.connections.id">Version</div>
					<div class="col-md-6 text-right">{{ connection.id }}</div>
				</div>
				<div class="row">
					<div class="col-md-6" translate="metrics.server.connections.host">Version</div>
					<div class="col-md-6 text-right">{{ connection.host }}</div>
				</div>
				<div class="row">
					<div class="col-md-6" translate="metrics.server.connections.address">Version</div>
					<div class="col-md-6 text-right">{{ connection.address }}</div>
				</div>
				<div class="row">
					<div class="col-md-6" translate="metrics.server.connections.port">Version</div>
					<div class="col-md-6 text-right">{{ connection.port }}</div>
				</div>
				<div class="row">
					<div class="col-md-6" translate="metrics.server.connections.protocol">Version</div>
					<div class="col-md-6 text-right">{{ connection.protocol }}</div>
				</div>
				<div class="row">
					<div class="col-md-6" translate="metrics.server.connections.uri">Version</div>
					<div class="col-md-6 text-right">{{ connection.uri }}</div>
				</div>
				<br ng-hide="$last" />
			</div>
		</div>
	</div>
	<h3 translate="metrics.db.title">Server</h3>
	<div class="row" ng-show="metricsData.$resolved">
		<div class="col-md-4">
			<b translate="metrics.db.info.title">Information</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.info.version">Version</div>
				<div class="col-md-6 text-right">{{ metricsData.db.version }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.info.host">Hostname</div>
				<div class="col-md-6 text-right">{{ metricsData.db.host }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.info.pid">PID</div>
				<div class="col-md-6 text-right">{{ metricsData.db.pid }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.info.uptime">Uptime</div>
				<div class="col-md-6 text-right">{{ metricsData.db.uptime | uptime: 'seconds'}}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.info.ok">OK</div>
				<div class="col-md-6 text-right">{{ metricsData.db.ok }}</div>
			</div>
		</div>
		<div class="col-md-4">
			<b translate="metrics.db.asserts.title">Asserts</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.asserts.regular">Regular</div>
				<div class="col-md-6 text-right">{{ metricsData.db.asserts.regular }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.asserts.warning">Warning</div>
				<div class="col-md-6 text-right">{{ metricsData.db.asserts.warning }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.asserts.msg">Msg</div>
				<div class="col-md-6 text-right">{{ metricsData.db.asserts.msg }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.asserts.user">User</div>
				<div class="col-md-6 text-right">{{ metricsData.db.asserts.user }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.asserts.rollovers">Rollovers</div>
				<div class="col-md-6 text-right">{{ metricsData.db.asserts.rollovers }}</div>
			</div>
		</div>
		<div class="col-md-4">
			<b translate="metrics.db.backgroundFlushing.title">Asserts</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.backgroundFlushing.flushes">Flushes</div>
				<div class="col-md-6 text-right">{{ metricsData.db.backgroundFlushing.flushes }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.backgroundFlushing.totalMs">Total Time</div>
				<div class="col-md-6 text-right">{{ metricsData.db.backgroundFlushing.totalMs | uptime }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.backgroundFlushing.averageMs">Average Time</div>
				<div class="col-md-6 text-right">{{ metricsData.db.backgroundFlushing.averageMs | number: 2}} MS</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.backgroundFlushing.lastMs">Last Time</div>
				<div class="col-md-6 text-right">{{ metricsData.db.backgroundFlushing.lastMs }} MS</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.backgroundFlushing.lastFinished">Last Finished</div>
				<div class="col-md-6 text-right">{{ metricsData.db.backgroundFlushing.lastFinished | date: 'short'}}</div>
			</div>
			<br />
		</div>
		<div class="col-md-4">
			<b translate="metrics.db.connections.title">Connections</b>
			<p><span translate="metrics.db.connections.current">Current</span> ({{ metricsData.db.connections.current }} / {{ metricsData.db.connections.available }})</p>
			<uib-progressbar min="0" max="metricsData.db.connections.available" value="metricsData.db.connections.current" class="progress-striped active" type="success">
				<span>{{ 100 * metricsData.db.connections.current / metricsData.db.connections.available | number: 0 }}%</span>
			</uib-progressbar>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.connections.totalCreated">Total Created</div>
				<div class="col-md-6 text-right">{{ metricsData.db.connections.totalCreated }}</div>
			</div>
		</div>
		<div class="col-md-4">
			<b translate="metrics.db.network.title">Network</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.network.bytesIn">In</div>
				<div class="col-md-6 text-right">{{ metricsData.db.network.bytesIn | memory }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.network.bytesOut">Out</div>
				<div class="col-md-6 text-right">{{ metricsData.db.network.bytesOut | memory }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.network.numRequests">Requests</div>
				<div class="col-md-6 text-right">{{ metricsData.db.network.numRequests }}</div>
			</div>
		</div>
		<div class="col-md-4">
			<b translate="metrics.db.document.title">Document</b>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.document.deleted">Deleted</div>
				<div class="col-md-6 text-right">{{ metricsData.db.document.deleted }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.document.inserted">Inserted</div>
				<div class="col-md-6 text-right">{{ metricsData.db.document.inserted }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.document.returned">Returned</div>
				<div class="col-md-6 text-right">{{ metricsData.db.document.returned }}</div>
			</div>
			<div class="row">
				<div class="col-md-6" translate="metrics.db.document.updated">Updated</div>
				<div class="col-md-6 text-right">{{ metricsData.db.document.updated }}</div>
			</div>
		</div>
	</div>
</div>
