<div class="well login">
	<div class="row">
		<div class="<%= loginPanelClass %>">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title" translate="login.title">Sign In</div>
				</div>
				<div class="panel-body">
					<div class="<%= loginFormClass %>">
						<div class="alert alert-danger" ng-show="authenticationError" translate="login.msg.error.auth">
							<strong>Failed to sign in!</strong> Please check your credentials and try again.
						</div>
						<form novalidate class="form-horizontial" name="form" role="form" ng-submit="login ($event)">
							<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$invalid }">
								<label for="username" translate="login.field.usernameOrEmailAddress" class="sr-only">Username or Email Address</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" autofocus ng-model="username" value="" required placeholder="{{ 'login.field.usernameOrEmailAddress' | translate }}">
								</div>
								<div ng-show="form.username.$dirty && form.username.$invalid">
									<p class="help-block" ng-show="form.username.$error.required" translate="login.msg.validate.username.required">Username is required.</p>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$invalid }">
								<label for="password" translate="login.field.password" class="sr-only">Password</label>
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" ng-model="password" required placeholder="{{ 'login.field.password' | translate }}">
								</div>
								<div ng-show="form.password.$dirty && form.password.$invalid">
									<p class="help-block" ng-show="form.password.$error.required" translate="login.msg.validate.password.required">Password is required.</p>
								</div>
							</div>
							<div class="form-group text-right">
								<button type="submit" ng-disabled="form.$invalid || disable" class="btn btn-primary" translate="login.btn.login">Sign In</button>
							</div>
							<div class="row form-group">
								<div class="col-sm-12">
									<a ui-sref="forgot" translate"login.forgotPassword">Forgot password?</a>
									<div>
										<span translate="login.noAccount">Don't have an account?</span>
										<a ui-sref="register" translate"login.signUpHere">Sign up here.</a>
									</div>
								</div>
							</div>
						</form>
					</div><% if (socialLogins.length) { %>
					<div class="social-button col-md-4"><% for (var i = 0; i < socialLogins.length; i++) { %>
						<a href="/authenticate/<%= socialLogins [i].name %>"><img src="assets/img/<%= socialLogins [i].icon %>" alt="{{ 'login.btn.loginWith<%= socialLogins [i].cap %>' | translate }}" /></a><% } %>
					</div><% } %>
				</div>
			</div>
		</div>
	</div>
</div>
